In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('yield_df.csv')
data.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [6]:
data.shape

(28242, 8)

In [7]:
data.isnull().sum()

Unnamed: 0                       0
Area                             0
Item                             0
Year                             0
hg/ha_yield                      0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
avg_temp                         0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     28242 non-null  int64
 1   Area                           28242 non-null  object
 2   Item                           28242 non-null  object
 3   Year                           28242 non-null  int64
 4   hg/ha_yield                    28242 non-null  int64
 5   average_rain_fall_mm_per_year  28242 non-null  float64
 6   pesticides_tonnes              28242 non-null  float64
 7   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.7+ MB

In [10]:
data = data.drop('Unnamed: 0',axis= 1)

In [11]:
data.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [20]:
data.duplicated().sum()

In [21]:
data.drop_duplicates(inplace=True)

In [23]:
data.shape

(25932, 7)

In [24]:
def isStr(obj):
    try:
        float(obj)
        return False
    except:
        return True
to_drop = data[data['average_rain_fall_mm_per_year'].apply(isStr)].index

In [25]:
data = data.drop(to_drop)

In [26]:
data['average_rain_fall_mm_per_year'] = data['average_rain_fall_mm_per_year'].astype(np.float64)

In [27]:
data.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [32]:
# # Train Test split Rearranging Columns
# from sklearn.model_selection import train_test_split 
# data = data['Year', 'average_rain_fall_mm_per_year','pesticides_tonnes', 'avg_temp', 'Area', 'Item', 'hg/ha_yield']
# X = data.iloc[:, :-1]
# y = data.iloc[:, -1]
col = ['Year', 'average_rain_fall_mm_per_year','pesticides_tonnes', 'avg_temp', 'Area', 'Item', 'hg/ha_yield']
data = data[col]
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [34]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.25,random_state=42)

In [35]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder(drop='first')
scale = StandardScaler()

preprocesser = ColumnTransformer(
        transformers = [
            ('StandardScale', scale, [0, 1, 2, 3]),
            ('OHE', ohe, [4, 5]),
        ],
        remainder='passthrough'
)

In [37]:
X_train_dummy = preprocesser.fit_transform(x_train)
X_test_dummy = preprocesser.transform(x_test)
preprocesser.get_feature_names_out(col[:-1])

array(['StandardScale__Year',
       'StandardScale__average_rain_fall_mm_per_year',
       'StandardScale__pesticides_tonnes', 'StandardScale__avg_temp',
       'OHE__Area_Algeria', 'OHE__Area_Angola', 'OHE__Area_Argentina',
       'OHE__Area_Armenia', 'OHE__Area_Australia', 'OHE__Area_Austria',
       'OHE__Area_Azerbaijan', 'OHE__Area_Bahamas', 'OHE__Area_Bahrain',
       'OHE__Area_Bangladesh', 'OHE__Area_Belarus', 'OHE__Area_Belgium',
       'OHE__Area_Botswana', 'OHE__Area_Brazil', 'OHE__Area_Bulgaria',
       'OHE__Area_Burkina Faso', 'OHE__Area_Burundi',
       'OHE__Area_Cameroon', 'OHE__Area_Canada',
       'OHE__Area_Central African Republic', 'OHE__Area_Chile',
       'OHE__Area_Colombia', 'OHE__Area_Croatia', 'OHE__Area_Denmark',
       'OHE__Area_Dominican Republic', 'OHE__Area_Ecuador',
       'OHE__Area_Egypt', 'OHE__Area_El Salvador', 'OHE__Area_Eritrea',
       'OHE__Area_Estonia', 'OHE__Area_Finland', 'OHE__Area_France',
       'OHE__Area_Germany', 'OHE__Area_Ghana', 'OHE__Area_Greece',
       'OHE__Area_Guatemala', 'OHE__Area_Guinea', 'OHE__Area_Guyana',
       'OHE__Area_Haiti', 'OHE__Area_Honduras', 'OHE__Area_Hungary',
       'OHE__Area_India', 'OHE__Area_Indonesia', 'OHE__Area_Iraq',
       'OHE__Area_Ireland', 'OHE__Area_Italy', 'OHE__Area_Jamaica',
       'OHE__Area_Japan', 'OHE__Area_Kazakhstan', 'OHE__Area_Kenya',
       'OHE__Area_Latvia', 'OHE__Area_Lebanon', 'OHE__Area_Lesotho',
       'OHE__Area_Libya', 'OHE__Area_Lithuania', 'OHE__Area_Madagascar',
       'OHE__Area_Malawi', 'OHE__Area_Malaysia', 'OHE__Area_Mali',
       'OHE__Area_Mauritania', 'OHE__Area_Mauritius', 'OHE__Area_Mexico',
       'OHE__Area_Montenegro', 'OHE__Area_Morocco',
       'OHE__Area_Mozambique', 'OHE__Area_Namibia', 'OHE__Area_Nepal',
       'OHE__Area_Netherlands', 'OHE__Area_New Zealand',
       'OHE__Area_Nicaragua', 'OHE__Area_Niger', 'OHE__Area_Norway',
       'OHE__Area_Pakistan', 'OHE__Area_Papua New Guinea',
       'OHE__Area_Peru', 'OHE__Area_Poland', 'OHE__Area_Portugal',
       'OHE__Area_Qatar', 'OHE__Area_Romania', 'OHE__Area_Rwanda',
       'OHE__Area_Saudi Arabia', 'OHE__Area_Senegal',
       'OHE__Area_Slovenia', 'OHE__Area_South Africa', 'OHE__Area_Spain',
       'OHE__Area_Sri Lanka', 'OHE__Area_Sudan', 'OHE__Area_Suriname',
       'OHE__Area_Sweden', 'OHE__Area_Switzerland',
       'OHE__Area_Tajikistan', 'OHE__Area_Thailand', 'OHE__Area_Tunisia',
       'OHE__Area_Turkey', 'OHE__Area_Uganda', 'OHE__Area_Ukraine',
       'OHE__Area_United Kingdom', 'OHE__Area_Uruguay',
       'OHE__Area_Zambia', 'OHE__Area_Zimbabwe', 'OHE__Item_Maize',
       'OHE__Item_Plantains and others', 'OHE__Item_Potatoes',
       'OHE__Item_Rice, paddy', 'OHE__Item_Sorghum', 'OHE__Item_Soybeans',
       'OHE__Item_Sweet potatoes', 'OHE__Item_Wheat', 'OHE__Item_Yams'],
      dtype=object)

In [38]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,r2_score


models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Dtr':DecisionTreeRegressor()
}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_absolute_error(y_test,y_pred)} score : {r2_score(y_test,y_pred)}")

lr : mae : 29985.713147807965 score : 0.7542346469010163

E:\pip\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:658: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 258682054040.52344, tolerance: 13723326278.31733
  model = cd_fast.sparse_enet_coordinate_descent(

lss : mae : 29969.577322987334 score : 0.7541740429236983
Rid : mae : 29932.951036157017 score : 0.7540826144068979
Dtr : mae : 4307.329168594786 score : 0.9756571780164336

In [39]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train_dummy,y_train)
dtr.predict(X_test_dummy)

array([117628.,  15838.,  72614., ...,   9787.,   3333.,  62636.])

In [40]:
def prediction(Year, average_rain_fall_mm_per_year, pesticides_tonnes, avg_temp, Area, Item):
    features = np.array([[Year, average_rain_fall_mm_per_year, pesticides_tonnes, avg_temp, Area, Item]], dtype=object)
    transformed_features = preprocesser.transform(features)
    predicted_yield = dtr.predict(transformed_features).reshape(1, -1)
    return predicted_yield[0]
Year = 1990
average_rain_fall_mm_per_year =1485.0
pesticides_tonnes = 121.00
avg_temp = 16.37                   
Area = 'Albania'
Item = 'Maize'
result = prediction(Year, average_rain_fall_mm_per_year, pesticides_tonnes, avg_temp, Area, Item)

E:\pip\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
E:\pip\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [41]:
import pickle
pickle.dump(dtr,open('dtr.pkl','wb'))
pickle.dump(preprocesser,open('preprocessor.pkl','wb'))